.navbar{
  background-color:rgba(127, 49, 245, 0.495);
  display: flex;
  justify-content:space-between;
  height: 50px;
  border: 2px solid black;
}

.Search {
  --size: 40px;
  border: 3px solid var(--clr-primary);
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  font-size: 1rem;
  width: var(--size);
  height: var(--size);
  padding: 9px;
  background-color:rgba(127, 49, 245, 0.495); 
  margin-top: 10px;  
  transition: 0.4s ease-out; 
  margin-left: 45%;
  border: 1.5px solid black ;
}


.Search:focus-within {
  width: 30%;
  height: 50%; 
  background-color:pink;
  transition: 0.4s ease-out;
  outline: none;
  margin-top: 20px;
  margin-left: 36%; 
}

.navbar ul{
  list-style: none;
  padding: 10px;
  font-weight: bold;
  font-size: 15 px;
  margin-top: 9px;
  cursor: pointer;
  display: flex;
  gap: 30px;
  text-decoration: none;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  list-style: none;
  color: black;
}

h3{
  margin-top: 15px;
}

.kalvium{
  padding-left: 30px;
}


.button {
  background: pink;
  height: 25px;
  width: 90px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out; 
}

.button:hover {
  transform: scale(1.1); 
  font-size: 15px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}


